_wandb:
    value:
        cli_version: 0.19.9
        m: []
        python_version: 3.11.11
        t:
            "1":
                - 1
                - 5
                - 11
                - 37
                - 38
                - 41
                - 49
                - 53
                - 55
                - 71
                - 82
            "2":
                - 1
                - 5
                - 11
                - 37
                - 38
                - 41
                - 49
                - 53
                - 55
                - 71
                - 82
            "3":
                - 13
                - 23
                - 55
            "4": 3.11.11
            "5": 0.19.9
            "6": 4.51.2
            "8":
                - 5
            "12": 0.19.9
            "13": linux-x86_64
HOME:
    value: /home/jaa/Work/Prog/BSU/Detectors
MODEL_GROUP:
    value: transformer
MODEL_TYPE:
    value: DETR
WEIGHT_SIZE:
    value: r50
additions:
    value: AdamW_2
auto_scale_lr:
    value:
        base_batch_size: 7
        enable: false
backend_args:
    value: null
batch_size:
    value: 7
checkpoint_config:
    value:
        interval: 1
data_root:
    value: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/
dataset_type:
    value: CocoDataset
default_hooks:
    value:
        checkpoint:
            interval: 1
            type: CheckpointHook
        early_stopping:
            min_delta: 0.001
            monitor: coco/bbox_mAP
            patience: 4
            type: EarlyStoppingHook
        logger:
            interval: 50
            log_metric_by_epoch: true
            type: LoggerHook
        param_scheduler:
            type: ParamSchedulerHook
        sampler_seed:
            type: DistSamplerSeedHook
        timer:
            type: IterTimerHook
        visualization:
            type: DetVisualizationHook
default_scope:
    value: mmdet
deterministic:
    value: true
env_cfg:
    value:
        cudnn_benchmark: false
        dist_cfg:
            backend: nccl
        mp_cfg:
            mp_start_method: fork
            opencv_num_threads: 0
evaluation:
    value:
        interval: 1
        metric: bbox
experiment:
    value: DETR_r50_75e_AdamW_2_custom
launcher:
    value: none
load_from:
    value: /home/jaa/Work/Prog/BSU/Detectors/work_dirs/DETR/DETR_r50_75e_AdamW_2_custom/epoch_65.pth
log_level:
    value: INFO
log_processor:
    value:
        by_epoch: true
        type: LogProcessor
        window_size: 50
max_epochs:
    value: 150
metainfo:
    value:
        classes:
            - cow
        palette:
            - - 220
              - 20
              - 60
model:
    value:
        backbone:
            depth: 50
            frozen_stages: 1
            init_cfg:
                checkpoint: torchvision://resnet50
                type: Pretrained
            norm_cfg:
                requires_grad: false
                type: BN
            norm_eval: true
            num_stages: 4
            out_indices:
                - 3
            style: pytorch
            type: ResNet
        bbox_head:
            embed_dims: 256
            loss_bbox:
                loss_weight: 5
                type: L1Loss
            loss_cls:
                bg_cls_weight: 0.1
                class_weight: 1
                loss_weight: 1
                type: CrossEntropyLoss
                use_sigmoid: false
            loss_iou:
                loss_weight: 2
                type: GIoULoss
            num_classes: 1
            type: DETRHead
        data_preprocessor:
            bgr_to_rgb: true
            mean:
                - 123.675
                - 116.28
                - 103.53
            pad_size_divisor: 1
            std:
                - 58.395
                - 57.12
                - 57.375
            type: DetDataPreprocessor
        decoder:
            layer_cfg:
                cross_attn_cfg:
                    batch_first: true
                    dropout: 0.1
                    embed_dims: 256
                    num_heads: 8
                ffn_cfg:
                    act_cfg:
                        inplace: true
                        type: ReLU
                    embed_dims: 256
                    feedforward_channels: 2048
                    ffn_drop: 0.1
                    num_fcs: 2
                self_attn_cfg:
                    batch_first: true
                    dropout: 0.1
                    embed_dims: 256
                    num_heads: 8
            num_layers: 6
            return_intermediate: true
        encoder:
            layer_cfg:
                ffn_cfg:
                    act_cfg:
                        inplace: true
                        type: ReLU
                    embed_dims: 256
                    feedforward_channels: 2048
                    ffn_drop: 0.1
                    num_fcs: 2
                self_attn_cfg:
                    batch_first: true
                    dropout: 0.1
                    embed_dims: 256
                    num_heads: 8
            num_layers: 6
        neck:
            act_cfg: null
            in_channels:
                - 2048
            kernel_size: 1
            norm_cfg: null
            num_outs: 1
            out_channels: 256
            type: ChannelMapper
        num_queries: 100
        positional_encoding:
            normalize: true
            num_feats: 128
        test_cfg:
            max_per_img: 100
        train_cfg:
            assigner:
                match_costs:
                    - type: ClassificationCost
                      weight: 1
                    - box_format: xywh
                      type: BBoxL1Cost
                      weight: 5
                    - iou_mode: giou
                      type: IoUCost
                      weight: 2
                type: HungarianAssigner
        type: DETR
num_classes:
    value: 1
num_epochs:
    value: 75
num_workers:
    value: 6
optim_wrapper:
    value:
        clip_grad:
            max_norm: 0.1
            norm_type: 2
        optimizer:
            betas:
                - 0.9
                - 0.999
            lr: 1e-05
            type: AdamW
            weight_decay: 0.0001
        paramwise_cfg:
            custom_keys:
                backbone:
                    decay_mult: 1
                    lr_mult: 0.1
        type: OptimWrapper
param_scheduler:
    value:
        - begin: 0
          by_epoch: true
          end: 500
          start_factor: 0.001
          type: LinearLR
        - begin: 0
          by_epoch: true
          end: 75
          gamma: 0.1
          milestones:
            - 50
            - 68
          type: MultiStepLR
resume:
    value: true
seed:
    value: 60
test_cfg:
    value:
        type: TestLoop
test_dataloader:
    value:
        batch_size: 7
        dataset:
            ann_file: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/test_coco.json
            backend_args: null
            data_prefix:
                img: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/test/images
            data_root: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/
            pipeline:
                - backend_args: null
                  type: LoadImageFromFile
                - type: LoadAnnotations
                  with_bbox: true
                - keep_empty: false
                  min_gt_bbox_wh:
                    - 16
                    - 16
                  type: FilterAnnotations
                - keep_ratio: true
                  scale:
                    - 1280
                    - 1280
                  type: Resize
                - meta_keys:
                    - img_id
                    - img_path
                    - ori_shape
                    - img_shape
                    - scale_factor
                  type: PackDetInputs
            test_mode: true
            type: CocoDataset
        drop_last: false
        num_workers: 6
        persistent_workers: true
        sampler:
            shuffle: false
            type: DefaultSampler
test_evaluator:
    value:
        ann_file: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/test_coco.json
        backend_args: null
        format_only: true
        metric: bbox
        outfile_prefix: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/test/images
        type: CocoMetric
test_pipeline:
    value:
        - backend_args: null
          type: LoadImageFromFile
        - type: LoadAnnotations
          with_bbox: true
        - keep_empty: false
          min_gt_bbox_wh:
            - 16
            - 16
          type: FilterAnnotations
        - keep_ratio: true
          scale:
            - 1280
            - 1280
          type: Resize
        - meta_keys:
            - img_id
            - img_path
            - ori_shape
            - img_shape
            - scale_factor
          type: PackDetInputs
train_cfg:
    value:
        max_epochs: 75
        type: EpochBasedTrainLoop
        val_interval: 1
train_dataloader:
    value:
        batch_sampler:
            type: AspectRatioBatchSampler
        batch_size: 7
        dataset:
            ann_file: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/train_coco.json
            backend_args: null
            data_prefix:
                img: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/train/images
            data_root: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/
            filter_cfg:
                filter_empty_gt: true
                min_size: 32
            metainfo:
                classes:
                    - cow
                palette:
                    - - 220
                      - 20
                      - 60
            pipeline:
                - backend_args: null
                  type: LoadImageFromFile
                - type: LoadAnnotations
                  with_bbox: true
                - prob: 0.5
                  type: RandomFlip
                - level: 2
                  prob: 0.3
                  type: Rotate
                - keep_empty: false
                  min_gt_bbox_wh:
                    - 16
                    - 16
                  type: FilterAnnotations
                - keep_ratio: true
                  scale:
                    - 1280
                    - 1280
                  type: Resize
                - type: PackDetInputs
            type: CocoDataset
        num_workers: 6
        persistent_workers: true
        sampler:
            shuffle: true
            type: DefaultSampler
train_pipeline:
    value:
        - backend_args: null
          type: LoadImageFromFile
        - type: LoadAnnotations
          with_bbox: true
        - prob: 0.5
          type: RandomFlip
        - level: 2
          prob: 0.3
          type: Rotate
        - keep_empty: false
          min_gt_bbox_wh:
            - 16
            - 16
          type: FilterAnnotations
        - keep_ratio: true
          scale:
            - 1280
            - 1280
          type: Resize
        - type: PackDetInputs
val_cfg:
    value:
        type: ValLoop
val_dataloader:
    value:
        batch_size: 7
        dataset:
            ann_file: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/valid_coco.json
            backend_args: null
            data_prefix:
                img: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/valid/images
            data_root: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch/
            metainfo:
                classes:
                    - cow
                palette:
                    - - 220
                      - 20
                      - 60
            pipeline:
                - backend_args: null
                  type: LoadImageFromFile
                - type: LoadAnnotations
                  with_bbox: true
                - keep_empty: false
                  min_gt_bbox_wh:
                    - 16
                    - 16
                  type: FilterAnnotations
                - keep_ratio: true
                  scale:
                    - 1280
                    - 1280
                  type: Resize
                - meta_keys:
                    - img_id
                    - img_path
                    - ori_shape
                    - img_shape
                    - scale_factor
                  type: PackDetInputs
            test_mode: true
            type: CocoDataset
        drop_last: false
        num_workers: 6
        persistent_workers: true
        sampler:
            shuffle: false
            type: DefaultSampler
val_evaluator:
    value:
        ann_file: /home/jaa/Work/Prog/BSU/Detectors/mmdetection/data/Padded_GroundingDINO.v1i.yolov5pytorch//valid_coco.json
        backend_args: null
        format_only: false
        metric: bbox
        type: CocoMetric
vis_backends:
    value:
        - init_kwargs:
            group: transformer
            name: DETR_r50_75e_7b_AdamW_2
            project: Сomparison of detectors
          type: WandbVisBackend
visualizer:
    value:
        name: visualizer
        type: Visualizer
        vis_backends:
            - init_kwargs:
                group: transformer
                name: DETR_r50_75e_7b_AdamW_2
                project: Сomparison of detectors
              type: WandbVisBackend
weights:
    value: detr_r50_8xb2-150e_coco_20221023_153551-436d03e8.pth
work_dir:
    value: /home/jaa/Work/Prog/BSU/Detectors/work_dirs/DETR/DETR_r50_75e_AdamW_2_custom/
